body {
  margin: 0;
  padding: 100px 0 100px 0;
  background-color: #f3e5d8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

main {
  background-color: #fff7fc;
  max-width: 700px;
  padding: 30px;
  border-radius: 20px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

/* Overall style types for every tag*/

h2,
h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

p {
  margin: 0;
  color: #434442;
}

ul {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

li {
  padding-left: 20px;
  color: #434442;
}

table {
  width: 100%;
}

td {
  padding: 8px 8px 8px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td:last-child {
  font-weight: bold;
  color: #8b654f;
}

/* until here */

.headline {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

header img {
  width: 100%;
  border-radius: 10px;
}

.headline h1 {
  color: #434442;
}

.preparation {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.preparation h3 {
  margin: 0;
  padding: 0;
  color: #7f3854;
}

.preparation ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.preparation li {
  color: #594a41;
}

.preparation li::marker {
  color: #7f3854;
}

.ingredients {
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 40px;
}

.ingredients h2 {
  color: #8b654f;
}

.ingredients ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.ingredients li::marker {
  color: #8b654f;
}

.instructions {
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 40px;
}

.instructions h2 {
  color: #8b654f;
}

.instructions ul {
  list-style-type: decimal;
  margin: 0;
  padding: 0 0 0 20px;
}

.instructions li::marker {
  color: #8b654f;
  font-weight: bold;
}

.nutrition {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nutrition h2 {
  color: #8b654f;
}

@media (max-width: 850px) {
  body {
    padding: 0;
  }

  main {
    width: 100%;
    max-width: unset;
    border-radius: unset;
    padding: 0 0 40px 0;
  }

  header img {
    border-radius: unset;
  }

  .headline {
    padding: 0 20px 0 20px;
  }

  .preparation {
    padding: 0 20px 0 20px;
  }

  .ingredients {
    padding: 0 20px 40px 20px;
  }

  .instructions {
    padding: 0 20px 40px 20px;
  }

  .nutrition {
    padding: 0 20px 0 20px;
  }
}
